body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-image: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/284895main_witchhead_nebula_full.jpg);
  padding: 20px;
  background-position: center center;
  color: white;
}

.App-header .title{
  margin-top: 40px;
}

.App-header a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s all;
}
.App-header a:hover{
  opacity: .7;
}

.githubIcon{
  height: 30px;
  margin-right: 5px;
}

.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}
.designer{
  font-size: 0.6em;
  text-align: left;
  margin-left: 80%;
  width: 20em;
}
.smallPin{
  width: 30%;

}

.individualCard{
  width: 40%;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(240,240,240);
  text-align: left;
}

